Workflow.Json
{
  "name": "Course32- RAG AI Agent_FullySync_Test copy",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Apple_Report",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1664,
        496
      ],
      "id": "e17195cc-2af6-4b90-bcd4-d4381e25dd84",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Preprocessing\n",
        "height": 636,
        "width": 1276
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "249f7051-c1f5-42ae-8c75-644ca1db5431",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot\n",
        "height": 732,
        "width": 1272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        848
      ],
      "id": "1238ab06-e62b-42ea-91b9-b6f13c89305c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=## Overview\nYou are a Retrieval-Augmented Generation (RAG) Chatbot. Your job is to answer user questions accurately using retrieved context from a vector database. The current date and time is {{ $now.toString() }}\n\n## Tools\n- OpenAI Chat Model: Generate natural, conversational responses  \n- Pinecone Vector Store: Retrieve semantically relevant context from stored embeddings  \n- Embeddings HuggingFace: Convert user queries into embeddings for similarity search  \n- OpenAI Chat Model1: Refine and finalize RAG-based answers\n\n## Rules\n- Always ground responses in retrieved context  \n- If no context is found, respond honestly with general knowledge  \n- Keep tone helpful and concise  \n\n## Instructions\n1) Convert the incoming query into embeddings  \n2) Search Pinecone for relevant documents  \n3) Combine query + context and send to OpenAI Chat Model for response  \n4) Output the final answer clearly  \n\nProvide only information that comes directly from these reports or verified data. If the requested information is missing or unclear, explicitly state that there is insufficient data.\n\nKeep responses concise and to the point. Include specific numbers and facts whenever possible, and clearly indicate whether the information is sourced from Q1 or Q2.\n\nDeliver quick, reliable insights into Apple’s quarterly financials without adding unnecessary details."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        464,
        944
      ],
      "id": "2f13e6e1-0abc-40a6-af81-e7285e907fc3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        384,
        1136
      ],
      "id": "f1a00eb2-9dd8-4635-8328-53ff15bec48d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JV7U71IYnynkAb7n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns documents related to Apple Q1 ,Q2, Q3 and Q4 report, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        768,
        1088
      ],
      "id": "41ef1907-4678-4fe1-9ba9-23fa27d70a69",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        1104
      ],
      "id": "9086107d-f09a-405e-8836-dc9f4e10c7b9",
      "name": "When chat message received",
      "webhookId": "0588b28f-616d-485e-b779-f669cb89f921"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1088,
        1216
      ],
      "id": "a3217521-10c5-4d60-b951-f15c61eb5d4d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JV7U71IYnynkAb7n",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1424,
        240
      ],
      "id": "bff6fa55-11c0-4fe5-b2c4-c1349bf9d3c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1760,
        640
      ],
      "id": "07dadd0b-478e-4603-95ee-b50e35249a35",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dda116d7-f64b-48b8-9f22-fb35eb43c245",
              "name": "File_Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "3562a21f-d55f-4191-8f7a-cebb23c1da3b",
              "name": "File_ID",
              "value": "={{ $json.ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        272
      ],
      "id": "3ef2e84d-d223-4f29-bc8e-350728464d01",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c183a9f9-0bbd-40e4-ac35-b5111e3ec1ae",
              "name": "File_Name",
              "value": "={{$json[\"chatInput\"].match(/Q[1-4]/i) ? ($json[\"chatInput\"].match(/Q[1-4]/i)[0].toUpperCase() + \".pdf\").trim() : \"\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        944
      ],
      "id": "162c7c25-78ce-4eb6-86fc-b8b82a56c73b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        240
      ],
      "id": "597bff3f-7c1c-43b2-a81a-61799e1c986d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        608
      ],
      "id": "4cdd1fcb-d4bc-4f43-904c-958210b619c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1F6xUzk1-0eNtPFhWaZQ0CpLjoA4a2THtVWlPfHYhgmc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6xUzk1-0eNtPFhWaZQ0CpLjoA4a2THtVWlPfHYhgmc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.fileName }}",
            "ID": "={{ $json.fileId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        800,
        416
      ],
      "id": "db159dd6-ae60-455a-9660-cf09e9a640a2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kt4O7yCW8O1PLO2z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get ALL incoming data as one flat array\nconst allInputs = $input.all(); \n\n// Separate Drive files vs Sheet rows by their structure\nconst driveInput = [];\nconst sheetInput = [];\n\n// Loop through all incoming items and detect source\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Drive files have `id` + `name`\n  if (data.id && data.name) {\n    driveInput.push(data);\n  }\n  \n  // Sheet rows have `ID` + `Name`\n  if (data.ID || data.Name) {\n    sheetInput.push(data);\n  }\n}\n\n// ✅ Extract already processed IDs from sheet\nconst processedIds = sheetInput\n  .filter(row => row.ID && row.ID !== \"\")\n  .map(row => row.ID);\n\n// ✅ Filter only NEW files not in sheet\nconst newFiles = driveInput.filter(f => !processedIds.includes(f.id));\n\n// ✅ Debug info\nconsole.log(`Drive files found: ${driveInput.length}`);\nconsole.log(`Sheet rows found: ${sheetInput.length}`);\nconsole.log(`Already processed IDs: ${processedIds.length}`);\nconsole.log(`New files to download: ${newFiles.length}`);\n\n// ✅ Output only the new ones\nreturn newFiles.map(f => ({\n  json: {\n    fileId: f.id,\n    fileName: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        256
      ],
      "id": "5e9e20ff-ff0a-4020-9cc9-581d9b65c9ae",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F6xUzk1-0eNtPFhWaZQ0CpLjoA4a2THtVWlPfHYhgmc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F6xUzk1-0eNtPFhWaZQ0CpLjoA4a2THtVWlPfHYhgmc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        320,
        608
      ],
      "id": "cfc69891-94af-4d24-acbf-9ff7e6612c3e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kt4O7yCW8O1PLO2z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        416
      ],
      "id": "a42efa87-db96-4568-a62f-0b296000f080",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "# Uploading to VD\n",
        "height": 636,
        "width": 828
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        192
      ],
      "id": "5fa2f9f9-8ea7-4297-909b-740c60c6476f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GA6Z1cpjxPE-Bqg0tGzLNJs7scOMsphd",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1GA6Z1cpjxPE-Bqg0tGzLNJs7scOMsphd"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        240
      ],
      "id": "f37bc94d-6256-4ff8-8a66-6dbfeda11cda",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4pH0cmx2PmYZy0uy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        480
      ],
      "id": "13acb5c4-5e4f-484f-89ef-936dad27de32",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4pH0cmx2PmYZy0uy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "intfloat/multilingual-e5-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1472,
        560
      ],
      "id": "cfe70b3e-b497-437e-a92d-1bbd2eebfc92",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "gMkaYULie4f4XvOr",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntony",
          "mode": "list",
          "cachedResultName": "n8ntony"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "={{ $json.file_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1760,
        240
      ],
      "id": "76c9e0e5-98d9-4949-bd60-badc6df2f2c6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "2Z7KP5Oxkhhe8QOz",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntony",
          "mode": "list",
          "cachedResultName": "n8ntony"
        },
        "options": {
          "pineconeNamespace": "={{ $json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        656,
        1280
      ],
      "id": "dbca3c08-0527-47aa-bf68-fcfd90e4f002",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "2Z7KP5Oxkhhe8QOz",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "intfloat/multilingual-e5-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        544,
        1424
      ],
      "id": "5e44cc83-656f-4b49-9da6-729f2c630066",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "gMkaYULie4f4XvOr",
          "name": "HuggingFaceApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f399848-5b58-49ac-8917-e86d37142564",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e93407d3a8652bf50893c4edeb23a0b091a5e2ea0f2cd11c4824db866d9872"
  },
  "id": "ZzZY7wiexS9K0Jgo",
  "tags": []
}
